@princeton-orange: #F07621;
@princeton-white: white;
@grey: #cccccc;

.ts-onboarding {
  position: relative;
  top: 25px;
  padding-bottom: 150px;
  margin: 0 20px;

  .princeton-chat-header {
    font-size: 24px;
    font-weight: 100;
  }

  .ts-onboarding-question {
    position: relative;
    padding-top: 5px;

    .question-container {
      margin-top: -10px;

      .question-title {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;

        &.user-name {
          font-weight: 500;
        }
      }
    }

    .timestamp {
      font-weight: 100;
      color: #cccccc;
    }
  }
}

.password-chooser {
  display: inline-block;
}

.onboarding-sidebar-overlay {
  width: 240px;
  min-width: 240px;
  background-color: #242424;
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .onboarding-sidebar-overlay {
    display: none;
  }

  .choose-password-section {
    height: 250px;
  }

  .password-chooser {
    display: block;
    width: 100%;
    line-height: 50px;
  }
}
