@princeton-orange: #F07621;
@princeton-white: white;
@grey: #cccccc;

.ts-onboarding {
  position: relative;
  top: 25px;
  padding-bottom: 150px;
  margin: 0 20px;

  .princeton-chat-header {
    font-size: 24px;
    font-weight: 100;
  }

  .ts-onboarding-question {
    position: relative;
    padding-top: 5px;

    .question-container {
      margin-top: -10px;

      .question-title {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;

        &.user-name {
          font-weight: 500;
        }
      }
    }

    .timestamp {
      font-weight: 100;
      color: #cccccc;
    }
  }
}
