
.message-history {
  overflow: scroll;
  flex: 1;
}


/* */
.info-panel {
  overflow: scroll;
}

.profile-header {
  position: relative;
  color: white;
}

.profile-header h2 {
  margin: 16px;
}

.profile-header h3 {
  margin: 0 0 16px 0;
  color: #57A3F0;
}

.profile-header p {
  margin: 0;
  text-align: center;
}

.profile-cover {
  /*border-left: 1px solid #eceeef;*/
  position: absolute;
  background-image: url(http://lorempixel.com/800/800/nature/);
  width: 100%;
  height: 100%;
}

.profile-cover:before {
  position: absolute;
  content: '\A';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.profile-avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.profile-info {
  margin: 16px;
}

.profile-info h3 {
  color: gray;
  font-size: 14px;
  font-weight: normal;
}

.profile-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile-info ul li {
  padding: 4px;
  margin: 4px;
  font-size: 14px;
}

.profile-info-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.profile-info-table .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile-info-table label {
  color: gray;
  flex-basis: 100px;
}

.profile-info-table span {
  min-width: 150px;
  flex: 1;
  word-wrap: break-word;
}

.profile-info-table span, .profile-info-table label {
  padding: 8px 0;
  font-size: 14px;
  font-weight: normal;
}
