@import "../vendor/bootstrap/_variables.scss";

// spacing

$spacing-x1: 5px;
$spacing-x15: 8px;
$spacing-x2: 10px;
$spacing-x25: 12px;
$spacing-x3: 15px;
$spacing-x35: 17px;
$spacing-x4: 20px;
$spacing-x45: 22px;
$spacing-x5: 25px;

// colors

$color-translucent-black: rgba(0, 0, 0, 0.4);
$color-dull-red: #DC2D2D;

$color-twitter: #00aced;
$color-facebook: #3b5998;
