$link-color: rgba(0, 0, 0, 0.87);
$link-hover-decoration: none;
$link-hover-color: rgba($link-color, 0.6);
$brand-primary: #F07621; // princeton orange
$input-border-focus: $brand-primary;
$input-box-shadow-focus: $brand-primary;

@import "../vendor/fontawesome/font-awesome";
@import "../vendor/bootstrap/bootstrap";

@mixin media($media) {
  @if $media == mobile {
    @media only screen and (max-width: map-get($grid-breakpoints, md)) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: map-get($grid-breakpoints, md) + 1) { @content; }
  }
}

body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
  @include media(mobile) {
    overflow-y: scroll;
  }
}

a:hover {
  opacity: 0.6;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
