$link-color: rgba(0, 0, 0, 0.87);
$link-hover-decoration: none;
$link-hover-color: rgba($link-color, 0.6);
@import "../vendor/fontawesome/font-awesome";
@import "../vendor/bootstrap/bootstrap";

body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
}

a:hover {
  opacity: 0.6;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
