$link-color: rgba(0, 0, 0, 0.87);
$link-hover-decoration: none;
$link-hover-color: rgba($link-color, 0.6);
@import "../vendor/bootstrap/bootstrap-reboot";
@import "../vendor/bootstrap/mixins";
//@import "../vendor/bootstrap/type";

body {
  font-family: "Lato", sans-serif;
}

a:hover {
  opacity: 0.6;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
