@import '{}/client/configs/pc-variables';
@import '{}/client/configs/theme';
@import '{}/client/vendor/bootstrap/_mixins.scss';

$rightbar-width: 300px;
$header-height: 240px;

// will be removed after Tony fixes routing
.ama-page-wrapper {
  display: flex;
  min-height: 100vh;
}

.ama-main {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}
// ***

.ama-header {
  display: flex;
  flex-shrink: 0;
  flex-basis: 100%;
  height: $header-height;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ama-header-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-x3;

  .header-details-container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: $spacing-x3;
    left: $spacing-x3;

    .header-date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: $spacing-x1;
      color: white;
      border-radius: 5px;
      border: 1px solid white;
      background-color: $color-translucent-black;
      margin-right: $spacing-x4;
    }

    .header-conversation-label {
      font-size: $font-size-h4;
      margin-bottom: $spacing-x1;
      color: white;
    }
  }
}

.ama-content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-basis: 100%;

  .ama-activity-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 $rightbar-width;
    padding: $spacing-x3;
  }
}

.ama-activity-main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $spacing-x3;

  .top-labels-container {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;

    .top-label {
      color: $gray;
      font-weight: 300;
    }
  }
}

.ama-message-container-reply {
  margin-left: 40px + $spacing-x4;
}

.ama-message-container {
  display: flex;
  flex-basis: 100%;
  padding: $spacing-x3;

  .message-content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin-left: $spacing-x4;

    .message-content-header {
      display: flex;
      justify-content: space-between;

      .message-timestamp {
        font-weight: 300;
        color: $gray-light;
      }
    }

    .message-author {
      font-weight: 600;
    }

    .message-author-desc {
      margin-left: $spacing-x2;
      color: $gray-light;
      font-weight: 300;
    }

    .message-content {
      margin-top: $spacing-x15;
      margin-bottom: $spacing-x15;
    }
  }
}

.ama-message-footer {
  display: flex;
  padding-left: $spacing-x3;

  .footer-component {
    margin-right: $spacing-x3;

    .footer-icon {
      margin-right: $spacing-x2;
    }

    .footer-text {
      font-weight: 600;
    }
  }
}

.ama-avatar-inputbox-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  padding: $spacing-x2;
  background-color: $gray-lighter;
  border-radius: 5px;

  .ama-inputbox {
    margin: 0px $spacing-x2;
    resize: none;
  }
}

.ama-highlighted-textbox {
  color: white;
  background-color: $brand-primary;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: $font-size-sm;
}

.ama-button-share {
  width: 110px;
}

.btn-twitter {
  @include button-variant(white, $color-twitter, $color-twitter);
}

.btn-facebook {
  @include button-variant(white, $color-facebook, $color-facebook);
}

.ama-header-overlay {
  display: flex;
  flex-direction: column;
  flex: 0 0 $rightbar-width;
  background-color: $color-translucent-black;
  padding: $spacing-x4;

  .overlay-row {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    margin-bottom: $spacing-x4;

    .overlay-row-label {
      color: white;
      font-size: $font-size-h6;
    }

    .overlay-content-row {
      margin-top: $spacing-x15;
      display: flex;
    }

    .participants-row {
      justify-content: center;
    }

    .share-buttons-row {
      justify-content: space-around;
    }
  }
}

.ama-live-now-container {
  display: flex;
  align-items: center;
  margin-right: $spacing-x4;

  .live-now-label {
    color: white;
    font-weight: 300;
  }

  .live-now-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $color-dull-red;
    border: 1px solid $color-dull-red;
    margin-right: $spacing-x1;
  }
}
