@import '{}/client/configs/pc-variables';
@import '{}/client/configs/theme';
@import '{}/client/vendor/bootstrap/_mixins.scss';

$rightbar-width: 300px;
$header-height: 240px;
$live-now-circle-size: 10px;

// will be removed after Tony fixes routing
.ama-page-wrapper {
  display: flex;
  min-height: 100vh;
}

.ama-main {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  overflow-x: hidden;

  .aside-toggle {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 10;
  }
}
// ***

.ama-header {
  display: flex;
  flex-shrink: 0;
  min-height: $header-height;
  max-height: $header-height;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ama-header-inner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: $spacing-x3;
  position: relative;

  .header-details-container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: $spacing-x3;
    left: $spacing-x3;

    @include media(mobile) {
      flex-direction: column;

      .header-date-container {
        margin-right: 0px !important;
      }

      .header-conversation-label {
        margin-bottom: 0px !important;
        text-align: center;
      }

      .ama-live-now-container {
        margin: $spacing-x1;
        margin-top: $spacing-x1;
        margin-bottom: $spacing-x1;
        margin-right: $live-now-circle-size + $spacing-x1;
      }
    }

    .header-date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: $spacing-x1;
      color: white;
      border-radius: 5px;
      border: 1px solid white;
      background-color: $color-translucent-black;
      margin-right: $spacing-x4;
    }

    .header-conversation-label {
      font-size: $font-size-h4;
      margin-bottom: $spacing-x1;
      color: white;
    }
  }
}

@keyframes fadeIn {
  to {
    transform: none;
    opacity: 1;
  }
}

.splitview {
  display: flex;
  .main {
    flex: 1 1 auto;
  }
  .aside {
    flex: 0 0 $rightbar-width;
  }
}
.splitview--initial {
  @extend .splitview;
  @include media(mobile) {
    .main {
      flex: 1 1 100%;
    }
    .aside {
      display: none !important;
    }
    .overlay {
      display: none !important;
    }
    .aside-toggle {
      top: initial;
      bottom: 0px;
      right: 0px;
      transform: rotateY(180deg) !important;
    }
  }
}
.splitview--aside-open {
  @extend .splitview;
  @include media(mobile) {
    .main {
      display: none !important;
    }
    .aside {
      flex: 1 0 100%;
    }
    .overlay {
      display: none !important;
    }
    .aside-toggle {
      top: initial;
      right: initial;
      bottom: 0px;
      left: 0px;
    }
  }
}
.splitview--aside-closed {
  @extend .splitview;
  .main {
    flex: 1 1 100%;
  }
  .aside {
    display: none !important;
  }
  .overlay {
    display: none !important;
  }
  .aside-toggle {
    right: 0px;
    transform: rotateY(180deg) !important;
  }
  @include media(mobile) {
    .aside-toggle {
      top: initial;
      bottom: 0px;
    }
  }
}

// Forced open
// Desktop
//     sidebar open
//     sidebar closed
// mobile
//     sidebar open
//     sidebar closed

.ama-content-fixed-sidebar {

  .ama-activity-sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: $rightbar-width;
    height: 100vh;
    overflow-y: auto;
  }

  .ama-activity-main-content {
    margin-right: $rightbar-width;
  }
}

.ama-content {
  display: flex;
  // flex-direction: row;
  flex-grow: 1;

  .ama-activity-sidebar {
    // @include media(mobile) {
    //     // .ama-activity-main-content {
    //     //   display: none;
    //     // }
    //       display: none;
    // }
    // flex: 0 0 $rightbar-width;
    display: flex;
    flex-direction: column;
    background-color: $color-rightbar;

    .ama-host-is-typing {
      display: flex;
      flex-shrink: 0;
      padding: $spacing-x2;
      align-items: center;
      border-bottom: 1px solid #EFEFEF;
      color: $gray;

      .ama-host-is-typing-content {
        display: flex;
        justify-content: center;
      }
    }

    .ama-activity-avatar {
      display: flex;
      flex-shrink: 0;
      margin-right: $spacing-x1;
    }

    .ama-activity-link {
      display: flex;
      flex-shrink: 0;
      &:hover {
        opacity: 1;
        background-color: #e6e6e6;
        color: rgba(0, 0, 0, 0.87);
      }
    }

    .ama-activity-speaker {
      display: flex;
      flex: 0 0 3px;
      background-color: $brand-primary;
    }

    .ama-activity {
      display: flex;
      flex-direction: column;
      padding-bottom: $spacing-x1;
      border-bottom: 1px solid #EFEFEF;
      flex-grow: 1;
      padding: $spacing-x1 $spacing-x2;

      opacity: 0;
      transform: translateY(-100);
      animation: fadeIn .3s linear forwards;

      .ama-activity-header {
        margin-top: $spacing-x2;
        display: flex;

        .ama-activity-owner-info {
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
          color: $gray;

          .ama-activity-owner-displayName {
            display: flex
          }

          .ama-activity-timestamp {
            display:flex;
            width: 60px;
            text-align: right;
            font-size: 14px;

            span {
              flex-basis: 100%;
              text-align: right;
            }
          }
        }
      }

      .ama-activity-content {
        margin-top: $spacing-x1;
        margin-bottom: $spacing-x2;
        font-weight: 300;
        font-style: italic;
      }
    }
  }

  .ama-flex {
    display: flex;
    flex-shrink: 0;
  }

  .ama-speaker-is-typing {
    margin-left: $spacing-x1;
  }
}

.ama-activity-main-content {
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: $spacing-x3;

  .top-labels-container {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;

    .top-label {
      color: $gray;
      font-weight: 300;
    }
  }
}

.ama-message-container-reply {
  margin-left: 40px + $spacing-x4;
}

@keyframes highlightOrange {
  0% {background-color: white};
  50% {background-color: $color-translucent-orange};
  100% {background-color: white};
}

.ama-message-container-animate {
  animation-name: highlightOrange;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.ama-message-container-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.ama-message-container {
  display: flex;
  flex-shrink: 0;
  padding: $spacing-x3;
  border-radius: 5px;

  .message-content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin-left: $spacing-x4;

    .message-content-header {
      display: flex;
      justify-content: space-between;

      .message-timestamp {
        font-weight: 300;
        color: $gray-light;
      }
    }

    .message-author {
      font-weight: 600;
    }

    .message-author-desc {
      margin-left: $spacing-x2;
      color: $gray-light;
      font-weight: 300;
    }

    .message-content {
      margin-top: $spacing-x15;
      margin-bottom: $spacing-x15;
      white-space: pre-wrap;

      .Linkify a {
        color: $brand-primary;
      }
    }

    .message-content-no-bot-margin {
      margin-bottom: 0px
    }
  }
}

.ama-message-footer {
  display: flex;
  padding-left: $spacing-x3;

  .footer-component {
    margin-right: $spacing-x3;
    &:hover {
      color: $brand-primary;
      opacity: 1;
      cursor: pointer;
    }
    .footer-icon {
      margin-right: $spacing-x2;
    }

    .footer-text {
      font-weight: 600;
    }
  }

  .upvoted {
    color: $brand-primary;
    &:hover {
      opacity: 0.6;
    }
  }
}

.ama-avatar-inputbox-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  padding: $spacing-x2;
  background-color: $gray-lightest;
  border-radius: 5px;
  border: 1px solid $gray-lighter;
  margin-top: $spacing-x2;

  .ama-inputbox-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px $spacing-x2;
  }

  .ama-inputbox {
    resize: none;
  }

  .ama-inputbox-submit {
    margin-top: $spacing-x2;
    align-self: flex-end;
  }
}

.ama-highlighted-textbox {
  color: white;
  background-color: $brand-primary;
  border-radius: 5px;
  padding: 3px 8px;
  font-size: $font-size-sm;
}

.ama-button-share {
  width: 110px;
}

.btn-twitter {
  @include button-variant(white, $color-twitter, $color-twitter);
}

.btn-facebook {
  @include button-variant(white, $color-facebook, $color-facebook);
}

.ama-header-overlay {
  display: flex;
  flex-direction: column;
  flex: 0 0 $rightbar-width;
  max-width: $rightbar-width;
  background-color: $color-translucent-black;
  padding: $spacing-x4;
  position: relative;

  .overlay-row {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-x4;

    .overlay-row-label {
      color: white;
      font-size: $font-size-h6;
    }

    .overlay-content-row {
      margin-top: $spacing-x15;
      display: flex;
    }

    .participants-row {
      padding: 0px $spacing-x1;
    }

    .share-buttons-row {
      justify-content: space-around;
    }
  }
}

@keyframes blink {
  0% { opacity: 1; transform: scale(0.6); }
  100% { opacity: 0; transform: scale(1.5); }
}

.ama-live-now-container {
  display: flex;
  align-items: center;
  margin-right: $spacing-x4;

  .live-now-label {
    color: white;
    font-weight: 300;
  }

  .live-now-circle {
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    width: $live-now-circle-size;
    height: $live-now-circle-size;
    background-color: $color-dull-red;
    border: 1px solid $color-dull-red;
    margin-right: $spacing-x1;
  }
}
