<template name="appBody">
  <div id="container" class="{{menuOpen}} {{cordova}}">

    <section id="menu">
      {{#if loggedIn }}
        <div class="logo">
          <a href="/settings">
            <span>Princeton.Chat</span>
            <i class="ts-settings ion-ios-arrow-forward"></i>
          </a>
        </div>
        <div class="list-todos">
          {{#each lists}}
            <a href="{{pathFor 'listsShow'}}" class="list-todo {{activeListClass}}" title="{{name}}">
              {{#if userId}}
                <span class="icon-lock"></span>
              {{/if}}
              {{displayName}}
            </a>
          {{/each}}
        </div>
      {{/if}}
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>
          <div class="meta">
            <div class="title-notification">Trying to connect</div>
            <div class="description">There seems to be a connection issue</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{#each thisArray}}
        {{> yield}}
      {{/each}}
    </div>
  </div>

  <div id="addPostModal" class="modal fade ts-modal" tabIndex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Post</h4>
        </div>
        <div class="modal-body">
          <form id="newPostForm">
            <div class="form-group">
              <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Post title" />
            </div>

            <div class="form-group">
              <textarea id="postDetails" class="form-control" rows="3" name="postContent" placeholder="What's up? Tell us all about it."></textarea>
            </div>

            <div class="form-group">
              <select id="allTopics-select" class="form-control">
                {{#each lists }}
                  <option value={{this._id}} {{isSelcted}}>{{this.displayName }}</option>
                {{/each }}
              </select>
            </div>
            <div class="modal-footer" style="border-top: none">
              <input id="newPostSubmit" type="submit" class="btn princeton-btn" value="Post" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup for editing profile -->
  {{#with profile}}
  <div id="editProfileModal" class="modal fade ts-modal" tabIndex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="profileEditDismiss"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <form id="editProfileForm">
            <div class="form-group">
              <label for="profile-info">First Name:</label>
              <input type="text" class="form-control" id="profileFirstName" name="firstName" placeholder="First Name" value={{firstName}} maxlength="50"/>
            </div>

            <div class="form-group">
              <label for="profileLastName">Last Name:</label>
              <input type="text" class="form-control" id="profileLastName" name="lastName" placeholder="Last Name" value={{lastName}} maxlength="50" />
            </div>

            <div class="form-group">
              <label for="profileInfo">Info: (max. 150 characters)</label>
              <input type="text" class="form-control" id="profileInfo" name="info" placeholder="Info" value={{info}} maxlength="150" />
            </div>

            <div class="form-group">
              <label for="profileClassYear">Class Year</label>
              <select class="form-control" id="profileClassYear">
                {{#each possibleYears}}
                  <option selected={{isYearSelected this}}>{{ this }}</option>
                {{/each}}
              </select>
            </div>

            <div class="form-group">
              <label for="profileClassType" >Class Type:</label>
              <select class="form-control" id="profileClassType">
                <option selected={{isClassTypeSelected 'undergrad'}}>Undergraduate</option>
                <option selected={{isClassTypeSelected 'grad'}}>Graduate</option>
              </select>
            </div>

            <div class="modal-footer" style="border-top: none">
              <input id="editProfileSubmit" type="submit" class="btn princeton-btn" value="Done" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>
