<template name="signin">
  <div class="page auth">

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Princeton Chat</h1>
        <p class="subtitle-auth" >Welcome back, Tiger.</p>

        <form class="ts-form">
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol {{errorClass 'email'}}">
            <input type="email" name="email" placeholder="you@alumni.princeton.edu" />
            <span class="icon-email" title="email@alumni.princeton.edu"></span>
          </div>

          <div class="input-symbol {{errorClass 'password'}}">
            <input type="password" name="password" placeholder="password" />
            <span class="icon-lock" title="Password"></span>
          </div>

          <button type="submit" class="btn-primary">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</template>
