<template name="comment">
  <div class="comment-container">

    <div class="comment-inner">

      <div class="comment">
        <div class="avatar-container">
          <img class="avatar" src="/img/qiming.jpg" />
        </div>

        <div class="ts-author-name-container">
          <div class="ts-author-name">
            Qiming Fang
          </div>
          <div class="ts-author-name-sub">
            3 hours ago | Computer Science | Class of '12
          </div>
        </div>
      </div>

      <div class="text">
        {{ this.content }}
      </div>
    </div>
  </div>
</template>
