<template name="comment">
  <div class="comment-container">

    <div class="comment-inner">

      <div class="comment">
        <div class="avatar-container">
          {{#with owner}}
            <img class="avatar" src="{{ avatarUrl }}" />
          {{/with}}
        </div>

        <div class="ts-author-name-container">
          <div class="ts-author-name">
            {{#with owner}}
              {{ displayName }}
            {{/with}}
          </div>
          <div class="ts-author-name-sub">
            3 hours ago |
            {{#with owner }}
              {{ this.classType }} | Class of {{ this.classYear }}
            {{/with}}
          </div>
        </div>
      </div>

      <div class="text">
        {{ this.content }}
      </div>
    </div>
  </div>
</template>
