.list-view {
  .nav-group {
    top: 1em;
  }

  .add-post a {
    font-weight: 600;
    color: @princeton-orange;

    .add-post-icon {
      padding-right: 5px;
    }
  }
}

.page.lists-show {
  .content-scrollable {
    background: @color-empty;
    top: 4.75em !important;
  }
}

.page.lists-show-detail {
  .content-scrollable {
    background: @color-empty;
    padding-top: 2em !important;

    @media screen and (max-width: 40em) {
      padding-top: 3em !important;
    }
  }
}
