<template name="listsShow">
  <div class="page lists-show list-view">
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>

      <h1 class="js-edit-list title-page">
        <span class="title-wrapper">{{displayName}}</span>
      </h1>

      {{#if isFollowingTopic}}
        <a id="unfollow" class="topic-follow" href="#" data-topic-id={{this._id}}>
          <i class="ion-social-rss display-icon active"></i>
          <span class="display-text active">
            Following
            <i class="ion-checkmark-round"></i>
          </span>
        </a>
      {{else}}
        <a id="follow" class="topic-follow" href="#" data-topic-id={{this._id}}>
          <i class="ion-social-rss display-icon"></i>
          <span class="display-text">Follow Topic</span>
        </a>
      {{/if}}

    </nav>


    <div class="content-scrollable list-items">
      {{#if todosReady}}
        {{#with _id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}

          <div class="list-item add-post">
            <a id="addPost"
                class="textItem hvr-icon-forward"
                data-toggle="modal"
                data-target="#addPostModal"
                data-topic-id="{{ this }}">
              <i class="ion-compose add-post-icon"></i>
              New Post
            </a>
          </div>

          {{#each todos this}}
            {{> todosItem}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No Posts Yet</div>
              <div class="subtitle-message">Add a new post by clicking
                <a href='#'
                  data-toggle="modal"
                  data-topic-id="{{ this }}"
                  data-target="#addPostModal"><i class="ion-compose"></i></a></div>
            </div>
          {{/each}}
        {{/with}}
      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading ...</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
