<template name="todoItemDetail">
  <div class="page lists-show-detail todo-item ts-item-details">
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
          <a href="/lists/{{ listId }}" class="js-menu backtrace"> > {{ listName }}</a>
        </div>
      {{/if}}
    </nav>
    <div id="post-container" class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">{{ this.todo.text }}</h1>
        <div class="ts-detail-author">
          <div style="ts-avatar-container">
            <img class="ts-avatar" src="/img/qiming.jpg" />
          </div>
          <div class="ts-author-name-container">
            <div class="ts-author-name">
              Qiming Fang
            </div>
            <div class="ts-author-name-sub">
              3 hours ago | Computer Science | Class of '12
            </div>
          </div>
        </div>
        <div class="todo-detail-content">
          <pre>There are 2 projects that you can look at to help you get started. The first project can be found in the example folder. This is a basic project that shows how you can consume material-ui components in your own project.

The second project is the actual documentation site. This is a more complex project but will give examples of every component. Check out the docs folder for build instructions.
          </pre>

          <div class="comments">
            {{#each comments}}
              {{> comment}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <form class="ts-comment-form">
      <div class="input-symbol">
        <input type="comment" name="comment" placeholder="Add comment ... " />
      </div>

      <button type="submit" class="btn-primary">Send</button>
    </form>
  </div>
</template>
