
.message-history {
  overflow: scroll;
  flex: 1;
}


/* */
.info-panel {
  overflow: scroll;
}

.profile-header {
  position: relative;
}

.profile-header h1 {
  margin: 16px;
  color: black;
  font-size: 2em;
  font-weight: 300;
}

.profile-header h3 {
  margin: 0 0 16px 0;
  color: #F07621;
  font-weight: 500;
}

.profile-header p {
  margin: 0 0 16px 0;
  font-size: 1em;
  text-align: center;
  color: #666666;
}

.profile-edit {
  color: #cccccc !important;
}

.profile-header p a {
  color: #cccccc;
}

.profile-cover {
  /*border-left: 1px solid #eceeef;*/
  position: absolute;
  background-image: url(http://lorempixel.com/800/800/nature/);
  width: 100%;
  height: 100%;
}

.profile-cover:before {
  position: absolute;
  content: '\A';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.profile-avatar {
  max-width: 150px;
  max-height: 150px;
  object-fit: scale-down;
}

.profile-info {
  margin: 16px;
}

.profile-info h3 {
  color: gray;
  font-size: 14px;
  font-weight: normal;
}

.profile-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.profile-info ul li {
  padding: 4px;
  margin: 4px;
  font-size: 14px;
}

.profile-info-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.profile-info-table .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile-info-table label {
  color: gray;
  flex-basis: 100px;
}

.profile-info-table span {
  min-width: 150px;
  flex: 1;
  word-wrap: break-word;
}

.profile-info-table span, .profile-info-table label {
  padding: 8px 0;
  font-size: 14px;
  font-weight: normal;
}
