.post-details {
  overflow: scroll;
  flex: 1;
}

.post-details > header {
  margin: 0 24px;
}

.post-details .spacer {
  flex-grow: 1;
}

.post-details .topic {
  margin-right: 8px;
  color: #888;
}

.post-details .comments-count {
  margin-right: 8px;
}

.post-details h1 {
  font-weight: 600;
}
