
.post-list-empty h2 {
  font-size: 24px;
  font-weight: normal;
}

.post-list-empty h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}


.post-list {
  overflow: scroll;
}

.post-list::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  width: 7px;
}

.post-list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a9a9a9;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.post-list::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.post-list article {
  display: flex;
  padding: 24px;
  border-bottom: 1px solid #ddd;
}

.post-list .right-container {
  margin-left: 16px;
  flex: 1;
}

.post-list header {
  font-size: 16px;
}

.post-list .display-name {
  font-weight: 400;
  margin-right: 8px;
}

.post-list .mention {
  font-weight: 300;
  margin-right: 8px;
}

.post-list .datetime {
  font-weight: 300;
  font-size: 14px;
  color: #888;
}

.post-list h2 {
  margin: 1px 0px;
  font-size: 17px;
  font-weight: 400;
}

.post-list p {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}

.post-list footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.post-list .spacer {
  flex-grow: 1;
}

.post-list .topic {
  margin-right: 8px;
  color: #888;
}

.post-list .comments-count, .post-list .followers-count {
  margin-right: 8px;
}

/*.post-list .*/
