
.post-list-empty h2 {
  font-size: 24px;
  font-weight: normal;
}

.post-list-empty h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}


.post-list {
  overflow: scroll;
}

.post-list article {
  display: flex;
  padding: 24px;
  border-bottom: 1px solid #ddd;
}

.post-list .right-container {
  margin-left: 16px;
  flex: 1;
}

.post-list header {
  font-size: 16px;
}

.post-list .display-name {
  font-weight: 500;
  margin-right: 8px;
}

.post-list .mention {
  margin-right: 8px;
  color: #57A3F0;
}

.post-list .datetime {
  font-size: 14px;
  color: #888;
}

.post-list h2 {
  margin: 8px 0 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.post-list p {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 15px;
}

.post-list footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.post-list .spacer {
  flex-grow: 1;
}

.post-list .topic {
  margin-right: 8px;
  color: #888;
}

.post-list .comments-count, .post-list .followers-count {
  margin-right: 8px;
}

/*.post-list .*/
