<template name="invite">
  <!-- <div class="ts-container">
    {{#each messages}}
      {{> message }}
    {{/each}}

    <div class="message-box">
      <form class='message-box-form'>
        <input id="m" placeholder="Type message ... " />
      </form>
    </div>
  </div> -->
  <div class="page lists-show-detail todo-item ts-item-details">
    <div id="post-container" class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth"> Hi, Tigercub. </h1>
          {{#each messages}}
            {{> message }}
          {{/each}}
      </div>
    </div>

    <form class="ts-form ts-comment-form">
      <div class="input-symbol">
        <input type="comment" name="comment" placeholder="Add comment ... " />
      </div>

      <button type="submit" class="btn-primary">Send</button>
    </form>
  </div>
</template>
