<template name="invite">
  <div class="page lists-show-detail todo-item ts-item-details">
    <div id="post-container" class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth"> Hi, Tigercub. </h1>
        <div id="onboarding-conversation">
          {{#each messages}}
            {{> onboarding_message}}
          {{/each}}
        </div>
      </div>
    </div>

    <form class="ts-form ts-comment-form message-box-form">
      <div class="input-symbol">
        <input id="m" type="comment" name="comment" placeholder="Type message ... " />
      </div>

      <button type="submit" class="btn-primary">Send</button>
    </form>
  </div>
</template>
