<template name="myphotos">
  {{#each services}}
    <!-- <a href='#' id='{{ this.id }}' data-service="{{this.serviceName}}" class="avatar-service"> -->
    <div class='avatar-service'>
      <img src={{ renderPhoto this }} alt='avatar' />
    </div>
    <!-- </a> -->
  {{/each}}
</template>

<template name="link_services">
    <p class="chat-msg-content">
      To make it easier for others to recognize you, you can upload a photo.
      Would you like to use the profile pic from your social network?
    </p>
    <div class="chat-msg-btn-container">
      <button id='{{ facebookid }}' class="{{ isFacebookLinked }}" data-service='facebook'>Facebook</button>
      <button id='{{ instagramId }}' class="{{ isInstagramLinked }}" data-service='instagram'>Instagram</button>
      <button id='upload'>Upload</button>
    </div>
    {{> myphotos this }}
</template>
