<template name="onboarding_message">
  <div class="ts-detail-author">
    <div style="ts-avatar-container">
      <img class="ts-avatar onboarding-avatar" src="{{user.avatar.url}}" />
    </div>
    <div class="ts-author-name-container">
      <div class="ts-author-name">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <div class="ts-author-name-sub">
        {{ msgTime }} | Computer Science | Class of '12
      </div>
    </div>
  </div>
  <div class="todo-detail-content">
    {{#if equals type 'welcome'}}
      {{> init }}
    {{/if}}

    {{#if equals type 'firstname'}}
      {{> first_name }}
    {{/if}}

    {{#if equals type 'lastname'}}
      {{> last_name }}
    {{/if}}

    {{#if equals type 'classyear'}}
      {{> class_year }}
    {{/if}}

    {{#if equals type 'classtype'}}
      {{> class_type }}
    {{/if}}

    {{#if equals type 'thanks'}}
      {{> thanks}}
    {{/if}}

    {{#if equals type 'linkservice'}}
      {{> link_services }}
    {{/if}}

    {{#if equals type 'share'}}
      {{> share }}
    {{/if}}

    {{#if equals type 'raw'}}
      {{> raw }}
    {{/if}}
  </div>
</template>
