.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.window {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  overflow: scroll;
}

.content {
  height: 100%;
  position: relative;
  overflow: scroll;
  background-color: white;
  z-index: 1;
}

.content--extended {
  @extend .content;
  
  transform: translateX(240px);
  @media (min-width: 768px) {
    margin-left: 240px;
    transform: none;
    // transform: translateX(240px);
  }
}

.topbar {
  position: absolute;
  width: 100%;
  z-index: 10; // Avoid getting obscured
}
