@import '{}/client/configs/pc-variables';

.sidebar {
  position: relative;
  overflow: scroll;

  a:hover, a:focus {
    color: white;
    outline: none;
  }
  .active {
    background-color: $color-gray;
  }
}

.content {
  position: relative;
  overflow: scroll;
  height: 100vh;
}

.content--extended {
  @extend .content;

  transform: translateX(240px);
  @media (min-width: 768px) {
    margin-left: 240px;
    transform: none;
    // transform: translateX(240px);
  }
}

.topbar {
  position: absolute;
  width: 100%;
  z-index: 10; // Avoid getting obscured
}
