.window {
  width: 100vw;
  height: 100vh;
  display: flex;  
}

// based on stylelint config - expected:
// - double quotes
// - [a-z]+ naming
// Unexpected id selector
.TEST {
    color: green;
    span {
        text-align: 'right';
    }
}

#my-id {
  background: #000;
}
